html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: monospace, sans-serif;
  background-color: #fff;
  color: #0f0f0f;
}
body * {
  box-sizing: border-box;
}
body section {
  padding: 50px 20px;
}
body h2 {
  text-align: center;
  text-transform: uppercase;
  display: block;
  letter-spacing: 0.8px;
  font-size: 28px;
}
body a,
body a:link {
  text-decoration: none;
  color: #0f0f0f;
}
body a:visited,
body a:link:visited {
  color: #262626;
}
.hero-section {
  height: 100vh;
  width: 100%;
  background: url('./images/bokeh-bg.jpg') no-repeat;
  background-position: center;
  position: relative;
  padding-top: 0;
}
.hero-section header {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
}
.hero-section header .hero-contact p {
  margin-bottom: 10px;
  margin-top: 0;
}
.hero-section header .hero-contact i {
  font-size: 20px;
  margin-right: 10px;
}
.hero-section header .languages {
  align-self: center;
}
.hero-section header .languages a,
.hero-section header .languages p {
  display: inline-block;
  margin: 0 5px;
}
.hero-section .hero-title {
  position: absolute;
  top: 40%;
  left: 13%;
  right: 13%;
}
.hero-section .hero-title h2 {
  text-transform: initial;
  text-align: left;
}
.hero-section .hero-title span {
  display: none;
}
.technologies-section {
  text-align: center;
}
.technologies-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.technologies-wrapper > div {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.technologies-wrapper span {
  font-size: 12px;
}
.technologies-wrapper i {
  margin: 0 5px 6px 5px;
  font-size: 34px;
}
.about-me {
  position: relative;
}
.about-me:after {
  content: "";
  background-image: url('./images/roses_bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.about-me .main-image-wrapper {
  border-radius: 10px;
  overflow: hidden;
  width: 70%;
  margin: 0 auto 50px;
}
.about-me .main-image-wrapper a {
  display: inline-block;
  position: relative;
}
.about-me .main-image-wrapper a:after {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  background: url(./images/frontend_developer_m2.png) no-repeat;
  width: 60px;
  height: 100px;
  background-size: 53px auto;
}
.about-me .main-image-wrapper a img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
.about-me p {
  margin-top: 0;
}
.about-me .description {
  padding: 0 20px;
  font-weight: 900;
  font-size: 18px;
}
.about-me .description h4 {
  margin-bottom: 0;
  display: inline-block;
  border-bottom: 2px solid saddlebrown;
}
.projects h4 {
  padding-top: 20px;
  font-size: 20px;
  text-align: center;
}
.projects-wrapper .project-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid orange;
}
.projects-wrapper h3 {
  font-family: 'Crafty Girls', cursive;
  text-align: center;
  font-size: 24px;
}
.projects-wrapper .image-wrapper {
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
}
.projects-wrapper .image-wrapper img {
  width: 100%;
  height: auto;
}
.projects-wrapper .project-link {
  font-weight: 900;
}
.contact-section {
  background-image: url('./images/pink_bg.jpg');
  background-repeat: no-repeat;
  text-align: center;
  padding: 50px 20px 15px;
}
.contact-section i {
  font-size: 40px;
  margin: 0 10px;
}
.contact-section .go-up {
  float: right;
  border: transparent;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  outline: none;
  background: #eee;
}
.contact-section .copyright {
  margin-top: 60px;
  font-size: 12px;
}
@media screen and (min-width: 1024px) {
  .hero-section .hero-title h1 {
    font-size: 36px;
  }
  .hero-section .hero-title h1 span {
    font-size: 20px;
    display: inline-block;
  }
  .hero-section h2 {
    overflow: hidden;
    display: inline-block;
    border-right: 0.15em solid #000;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: typing 4s steps(30, end), blink-caret 1s step-end infinite;
  }
  /* The typing effect */
  @keyframes typing {
    from {
      width: 0px;
    }
    to {
      width: 100%;
    }
  }
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
  .about-me .main-image-wrapper {
    align-self: center;
  }
  .about-me p {
    margin-top: 18px;
  }
  .projects-wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1rem;
  }
  .projects-wrapper .project-item {
    width: 250px;
    height: 450px;
    perspective: 1000px;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .projects-wrapper .project-item:hover .project-item-inner {
    transform: rotateY(180deg);
  }
  .projects-wrapper .project-item-inner {
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .projects-wrapper .project-item-front,
  .projects-wrapper .project-item-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .projects-wrapper .image-wrapper {
    height: 350px;
    -webkit-box-shadow: 7px 9px 13px -5px rgba(232, 232, 232, 0.66);
    -moz-box-shadow: 7px 9px 13px -5px rgba(232, 232, 232, 0.66);
    box-shadow: 10px 10px 13px -7px #dec5d4;
  }
  .projects-wrapper .project-item-back {
    transform: rotateY(180deg);
    height: 350px;
    border-radius: 10px;
    background: #d9a7c7;
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
    background: linear-gradient(to right, #fffcdc, #d9a7c7);
    padding: 15px;
    -webkit-box-shadow: 7px 9px 13px -5px rgba(232, 232, 232, 0.66);
    -moz-box-shadow: 7px 9px 13px -5px rgba(232, 232, 232, 0.66);
    box-shadow: 10px 10px 13px -7px #dec5d4;
  }
  .projects-wrapper .project-item-back a {
    position: absolute;
    bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  body h2 {
    font-size: 36px;
  }
  body i {
    transition: all 0.2s ease-in-out;
  }
  body i:hover {
    transform: scale(1.2);
  }
  .hero-section header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 25px;
    z-index: 200;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  }
  .hero-section .hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .technologies-wrapper {
    justify-content: center;
  }
  .about-me .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "image description description";
    grid-row-gap: 3em;
  }
  .about-me .main-image-wrapper {
    grid-area: image;
    justify-self: center;
  }
  .about-me .description {
    grid-area: description;
    align-self: center;
  }
  .about-me .description h3 {
    text-transform: uppercase;
  }
  .about-me .description a {
    color: #c50000;
  }
}
