html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: monospace, sans-serif;
  background-color: #fffcc9;
  color: #0f0f0f;
}
body * {
  box-sizing: border-box;
}
body section {
  padding: 50px 20px;
}
.hero-section {
  height: 100vh;
  width: 100%;
  background: url('./images/bokeh-bg.jpg') no-repeat;
  background-position: center;
  position: relative;
}
.hero-section .hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-section .hero-title span {
  display: none;
}
.technologies-section {
  text-align: center;
}
.technologies-section h3 {
  font-size: 26px;
}
.technologies-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.technologies-wrapper > div {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.technologies-wrapper span {
  font-size: 12px;
}
.technologies-wrapper i {
  margin: 0 5px;
  font-size: 34px;
}
.about-me {
  position: relative;
}
.about-me:after {
  content: "";
  background-image: url('./images/roses_bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.about-me h2 {
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding: 10px;
  letter-spacing: 1px;
  font-size: 28px;
}
.about-me .main-image-wrapper {
  border-radius: 10px;
  overflow: hidden;
  width: 70%;
  margin: 0 auto 50px;
}
.about-me .main-image-wrapper img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
.about-me .description {
  padding: 0 20px;
  font-weight: 900;
}
.projects .project-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid orange;
}
.projects h3 {
  font-family: 'Crafty Girls', cursive;
  text-align: center;
}
.projects .image-wrapper {
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
}
.projects .image-wrapper img {
  width: 100%;
  height: auto;
}
.projects .project-link {
  color: #0f0f0f;
  font-weight: 900;
  text-decoration: none;
}
.projects .project-link:visited {
  color: #120b0b;
}
.contact-section {
  background-image: url('./images/pink_bg.jpg');
  background-repeat: no-repeat;
}
@media screen and (min-width: 1024px) {
  .hero-section .hero-title h1 {
    font-size: 36px;
  }
  .hero-section .hero-title h1 span {
    font-size: 20px;
    display: inline-block;
  }
  .hero-section h2 {
    overflow: hidden;
    display: inline-block;
    border-right: 0.15em solid #000;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: typing 4s steps(30, end), blink-caret 1s step-end infinite;
  }
  /* The typing effect */
  @keyframes typing {
    from {
      width: 0px;
    }
    to {
      width: 360px;
    }
  }
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
  .projects {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1rem;
  }
  .projects .project-item {
    width: 250px;
    height: 450px;
    perspective: 1000px;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .projects .project-item:hover .project-item-inner {
    transform: rotateY(180deg);
  }
  .projects .project-item-inner {
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .projects .project-item-front,
  .projects .project-item-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .projects .image-wrapper {
    height: 350px;
  }
  .projects .project-item-back {
    transform: rotateY(180deg);
    height: 350px;
    border-radius: 10px;
    background-image: linear-gradient(to right top, #daa5bf, #ff9fa4, #ffa96e, #fbc72d, #a8eb12);
    padding: 15px;
  }
  .projects .project-item-back a {
    position: absolute;
    bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .technologies-wrapper {
    justify-content: center;
  }
  .about-me .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "image description description";
    grid-row-gap: 3em;
  }
  .about-me .main-image-wrapper {
    grid-area: image;
    justify-self: center;
    align-self: center;
  }
  .about-me .description {
    grid-area: description;
    align-self: center;
  }
}
